<div class="row">
  <h1>Educación</h1>
  <div class="contenedor-edu">
    <ul>
      <li *ngFor="let educacion of educacionesList">
        <div class="d-flex justify-content-between">
          <h1 class="text-uppercase fs-3">{{ educacion.nombre }}</h1>
          <p class="fs-6">{{ educacion.inicio }} - {{ educacion.fin }}</p>
        </div>
        <p>
          Carrera: <span>{{ educacion.carrera }}</span>
        </p>
        <p>
          Título: <span>{{ educacion.titulo }}</span>
        </p>
      </li>
    </ul>
  </div>
</div>
