<div
  class="contenedor-formulario d-flex justify-content-center align-items-center"
>
  <div class="container formulario">
    <div class="row">
      <h1 class="text-center pt-5 pb-3 text-dark fw-bold text-uppercase">
        Crear Nuevo Estudio
      </h1>

      <div>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              id="nombreEdu"
              for="nombreEdu"
              name="nombreEdu"
              placeholder="Nombre de la Institucion"
              [(ngModel)]="nombreEdu"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              id="titulo"
              for="titulo"
              name="titulo"
              placeholder="Título"
              [(ngModel)]="titulo"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              id="carrera"
              for="carrera"
              name="carrera"
              placeholder="Carrera"
              [(ngModel)]="carrera"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              id="imgEdu"
              for="imgEdu"
              name="imgEdu"
              placeholder="Copia la URL de la imagen"
              [(ngModel)]="imgEdu"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              id="inicio"
              for="inicio"
              name="inicio"
              placeholder="Fecha de inicio"
              [(ngModel)]="inicio"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              id="fin"
              for="fin"
              name="fin"
              placeholder="Fecha de finalización"
              [(ngModel)]="fin"
              required
            />
          </div>
          <div class="d-flex justify-content-end mt-5">
            <button class="btn btn-dark btn-agregar">Agregar Estudio</button>
            <button
              type="button"
              class="btn btn-light ms-3"
              (click)="onClose()"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
