.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}
.formulario {
    max-width: 50%;
    
}

@media(min-width: 1024px) {
    .formulario {
        max-width: 30%;
    }
}
@media(max-width: 768px) {
    .formulario {
        max-width:80%;
    }
}

@media(max-width: 768px) {
    .btn-agregar {
        width: 100%;
    }
}
input {
    padding: 10px;
background-color: rgba(255, 255, 255, 0);
border-color: rgba(255, 255, 255, 0.3);
}