<div
  class="contenedor"
  class="contenedor-exp mt-2 p-0"
  data-aos="fade-in"
  data-aos-offset="100"
  data-aos-delay="50"
  data-aos-duration="500"
  data-aos-easing="ease-in-out"
  data-aos-mirror="false"
  data-aos-once="true"
  data-aos-anchor-placement="top-center"
>
  <h1 class="text-center py-5 violeta">Experiencia Laboral</h1>

  <div>
    <div *ngFor="let Experiencia of exp" class="mt-4 p-0 vidrio">
      <div class="row">
        <div
          class="contenedor-img col-md-4 col-lg-3 d-flex justify-content-center"
        >
          <img
            [src]="Experiencia.imgExp"
            alt="imagen empresa"
            class="img-fluid rounded"
          />
        </div>
        <div class="col-md-8 col-lg-9 p-x3">
          <div class="d-flex justify-content-between">
            <h2 class="px-1 mt-2 amarillo">{{ Experiencia.nombreExp }}</h2>

            <div class="d-flex justify-content-end mb-3 me-3">
              <button
                class="btn btn-outline-light mt-3"
                *ngIf="isLogged"
                routerLink="/editarExp/{{ Experiencia.id }}"
              >
                <i class="bi bi-pencil botones"></i>
              </button>

              <button
                class="btn btn-outline-light ms-1 mt-3"
                *ngIf="isLogged"
                (click)="delete(Experiencia.id)"
              >
                <i class="bi bi-trash botones"></i>
              </button>
            </div>
          </div>
          <div class="d-flex">
            <p class="mb-3 px-1 text-light">{{ Experiencia.puesto }} /</p>
            <p class="px-1 text-light">
              {{ Experiencia.inicio }} - {{ Experiencia.fin }}
            </p>
          </div>

          <p class="px-1 text-light">{{ Experiencia.descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-nueva-exp d-flex justify-content-center mt-3 mx-3">
    <button
      type="button"
      class="btn btn-outline-light mb-3"
      routerLink="/nuevaExperiencia"
      *ngIf="isLogged"
    >
      <i class="bi bi-plus-square"></i> Añadir
    </button>
  </div>
</div>
