.contenedor {
    /* background-color: #a1b5cb;     */
}

.contenedor-exp {
    max-width: 90%;
    margin: 0 auto;    
}
@media(min-width: 1240px) {
    .contenedor-exp {
        max-width: 70%;
        margin: 0 auto;    
    }
}

@media(min-width: 768px) {
    .contenedor-img {
        max-height: 250px; 
        max-width: 250px;
    }
}
@media(max-width: 768px) {
    .btn-nueva-exp button {
    width: 100%;
    justify-content: center;
    }
}

