.contenedor-exp {
    max-width: 80%;
    margin: 0 auto;   
    
}

@media(min-width: 1400px) {
    .contenedor-exp {
        max-width: 60%;
        margin: 0 auto;    
    }
}

.contenedor-img{
    margin: auto 20px auto 0;
}

@media(min-width: 768px) {
    .contenedor-img {
        max-height: 160px; 
        max-width: 170px;
    }
}

button {
    max-height: 40px ;
    }

@media(max-width: 768px) {
    .btn-nueva-exp button {
    width: 100%;
    justify-content: center;
    }
}

@media(max-width: 992px) {
    .fechas{
        flex-direction: column-reverse;
    }
}