<div class="container">
  <div class="row">
    <h1>Crear nueva experiencia</h1>
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreExp">Nombre de la empresa</label>
          <input
            type="text"
            class="form-control"
            id="nombreExp"
            name="nombreExp"
            [(ngModel)]="nombreExp"
            required
          />
        </div>

        <div class="form-group">
          <label for="puesto">puesto o cargo</label>
          <input
            type="text"
            class="form-control"
            id="puesto"
            name="puesto"
            [(ngModel)]="puesto"
            required
          />
        </div>

        <div class="form-group">
          <label for="descripcion">Descripcion de la esperiencia</label>
          <input
            type="text"
            class="form-control"
            id="descripcion"
            name="descripcion"
            [(ngModel)]="descripcion"
            required
          />
        </div>

        <div class="form-group">
          <label for="imgExp">Url de la imagen</label>
          <input
            type="text"
            class="form-control"
            id="imgExp"
            name="imgExp"
            [(ngModel)]="imgExp"
            required
          />
        </div>

        <div class="form-group">
          <label for="inicio">Fecha de inicio</label>
          <input
            type="text"
            class="form-control"
            id="inicio"
            name="inicio"
            [(ngModel)]="inicio"
            required
          />
        </div>

        <div class="form-group">
          <label for="fin">Fecha de finalización</label>
          <input
            type="text"
            class="form-control"
            id="fin"
            name="fin"
            [(ngModel)]="fin"
            required
          />
        </div>
        <button class="btn btn-primary">Agregar Experiencia</button>
      </form>
    </div>
  </div>
</div>
