<div class="contenedor-formulario">
  <div class="container formulario">
    <div class="row">
      <h1 class="text-center pt-5 pb-3 text-dark fw-bold text-uppercase">
        Crear Nuevo Proyecto
      </h1>

      <div>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              id="nombreP"
              for="nombreP"
              name="nombreP"
              placeholder="Nombre del Proyecto"
              [(ngModel)]="nombreP"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              id="imgP"
              for="imgP"
              name="imgP"
              placeholder="Pega la URL de la imagen tu proyecto"
              [(ngModel)]="imgP"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              id="descripcionP"
              for="descripcionP"
              name="descripcionP"
              placeholder="Descripción del proyecto"
              [(ngModel)]="descripcionP"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control mt-3"
              id="urlP"
              for="urlP"
              name="urlP"
              placeholder="Copia la url de tu Proyecto"
              [(ngModel)]="urlP"
              required
            />
          </div>

          <div class="d-flex justify-content-end mt-5">
            <button class="btn btn-dark btn-agregar">Agregar Proyecto</button>
            <button
              type="button"
              class="btn btn-light ms-3"
              (click)="onClose()"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
