<div class="contenedor">
  <h1>Proyectos Realizados</h1>

  <div>
    <a href="https://control-gastos-pers.netlify.app/" target="_blank">
      <div class="contenedor-proyectos row">
        <div class="contenedor-img col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img
            src="../../../assets/img1.jpg"
            alt="imagen control de gastos"
            class="img-fluid img-proyecto"
          />
        </div>
        <div class="contenedor-text col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <h2>Control de gastos</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            cumque aut sapiente. Blanditiis nemo tempore doloremque eius iusto!
            Saepe molestias architecto quam eius maiores quas mollitia possimus
            a numquam cumque.
          </p>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a href="https://control-gastos-pers.netlify.app/" target="_blank">
      <div class="contenedor-proyectos row">
        <div class="contenedor-img col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img
            src="../../../assets/img1.jpg"
            alt="imagen control de gastos"
            class="img-fluid img-proyecto"
          />
        </div>
        <div class="contenedor-text col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <h2>Control de gastos</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            cumque aut sapiente. Blanditiis nemo tempore doloremque eius iusto!
            Saepe molestias architecto quam eius maiores quas mollitia possimus
            a numquam cumque.
          </p>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a href="https://control-gastos-pers.netlify.app/" target="_blank">
      <div class="contenedor-proyectos row">
        <div class="contenedor-img col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img
            src="../../../assets/img1.jpg"
            alt="imagen control de gastos"
            class="img-fluid img-proyecto"
          />
        </div>
        <div class="contenedor-text col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <h2>Control de gastos</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            cumque aut sapiente. Blanditiis nemo tempore doloremque eius iusto!
            Saepe molestias architecto quam eius maiores quas mollitia possimus
            a numquam cumque.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
