<div
  class="contenedor-proyecto my-4 p-0 fs-5"
  data-aos="fade-in"
  data-aos-offset="100"
  data-aos-delay="50"
  data-aos-duration="500"
  data-aos-easing="linear"
  data-aos-mirror="true"
  data-aos-once="true"
  data-aos-anchor-placement="top-center"
>
  <h1 class="text-center pt-5 pb-3 text-dark fw-bold text-uppercase">
    Proyectos Realizados
  </h1>
  <div class="d-flex justify-content-end">
    <div class="btn-nuevo-proyecto">
      <button
        type="button"
        class="btn btn-dark"
        routerLink="/nuevoProyecto"
        *ngIf="isLogged"
      >
        <i class="bi bi-plus-square"></i> Añadir Proyecto
      </button>
    </div>
  </div>

  <div>
    <div
      *ngFor="let Proyecto of proyectoList"
      class="mt-4 p-3 bg-white rounded shadow-sm"
    >
      <div class="row">
        <div
          class="contenedor-img col-md-4 col-lg-3 d-flex justify-content-center"
        >
          <a href="{{ Proyecto.urlP }}" target="_blank">
            <img
              [src]="Proyecto.imgP"
              alt="imagen empresa"
              class="img-fluid rounded"
            />
          </a>
        </div>

        <div class="col-md-8 col-lg-9 p-x3">
          <div class="d-flex justify-content-between">
            <h2 class="px-1 mt-2 text-dark fw-black">
              {{ Proyecto.nombreP }}
            </h2>

            <div class="d-flex justify-content-end mb-3 me-3">
              <button
                class="btn btn-secondary mt-3"
                *ngIf="isLogged"
                routerLink="/editarProyecto/{{ Proyecto.id }}"
              >
                <i class="bi bi-pencil botones"></i>
              </button>

              <button
                class="btn btn-secondary ms-1 mt-3"
                *ngIf="isLogged"
                (click)="delete(Proyecto.id)"
              >
                <i class="bi bi-trash botones"></i>
              </button>
            </div>
          </div>

          <p class="px-1 text-secondary">{{ Proyecto.descripcionP }}</p>
        </div>
        <div class="d-flex justify-content-end pe-5">
          <a
            class="btn btn-dark btn-visita"
            href="{{ Proyecto.urlP }}"
            target="_blank"
          >
            Visitar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
