.contenedor-proyecto {
    max-width: 90%;
    margin: 0 auto;   
    
}
@media(min-width: 1400px) {
    .contenedor-proyecto {
        max-width: 60%;
        margin: 0 auto;    
    }
}

@media(min-width: 768px) {
    .contenedor-img {
        max-height: 250px; 
        max-width: 250px;
    }
}
@media(max-width: 768px) {
    .btn-nuevo-proyecto button {
    width: 100%;
    justify-content: center;
    }
}
a {
    list-style: none;
    text-decoration: none;
}
@media(max-width: 768px) {
    .btn-visita {
        width: 100%;
    }
}

