.contenedor{
    /* background-color: #373737; */
    background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
    height: 300px;
    width: 100%;
    height: 500px;
    margin: 0 auto -70px auto;
} 

@media(max-width: 768px) {
    div{
        display: none;
    }
}

