<div class="pt-5">
  <h1 class="text-center pt-5 pb-3 text-dark fw-bold text-uppercase">
    Habilidades
  </h1>
  <div class="d-flex justify-content-end caja-btn">
    <div class="btn-nueva-edu">
      <button
        type="button"
        class="btn btn-dark"
        routerLink="/nuevaSkill"
        *ngIf="isLogged"
      >
        <i class="bi bi-plus-square"></i> Añadir Tectnología
      </button>
    </div>
  </div>

  <div class="bg-white">
    <div class="row contenedor-circle bg-white p-5 mt-4">
      <div
        class="circle col-xs-12 col-md-4 col-lg-4 col-xl-3 mt-5"
        *ngFor="let Skill of skillList"
      >
        <circle-progress
          titleColor="#000000"
          [percent]="Skill.porcentaje"
          [radius]="80"
          [outerStrokeWidth]="10"
          [outerStrokeGradient]="true"
          outerStrokeColor="#86B1CC"
          outerStrokeGradientStopColor="#00BEFF"
          [showInnerStroke]="false"
          [animation]="true"
          [showImage]="true"
          [imageSrc]="Skill.imgSkill"
          [imageWidth]="80"
          [imageHeight]="80"
          [backgroundColor]="'#FFFFFF'"
          [backgroundPadding]="-10"
          [animationDuration]="2000"
        ></circle-progress>
        <h3 class="text-uppercase fw-bold mt-3">{{ Skill.nombreSkill }}</h3>
        <div class="d-flex justify-content-center align-item-center mb-5 mt-3">
          <button
            class="btn btn-secondary ms-1"
            *ngIf="isLogged"
            routerLink="/editarSkill/{{ Skill.id }}"
          >
            <i class="bi bi-pencil botones"></i>
          </button>

          <button
            class="btn btn-secondary ms-1"
            *ngIf="isLogged"
            (click)="delete(Skill.id)"
          >
            <i class="bi bi-trash botones"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
