<div class="row">
  <h2>Hard & Soft Skills</h2>
  <div class="circle col-xs-12 col-md-4 col-lg-4">
    <circle-progress
      [percent]="95"
      [radius]="100"
      [imageSrc]="'../assets/html5.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="circle col-xs-12 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../assets/css3.png'"
      [showImage]="true"
      [imageWidth]="70"
      [imageHeight]="90"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="circle col-xs-12 col-md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'../assets/angular.png'"
      [showImage]="true"
      [imageWidth]="80"
      [imageHeight]="80"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="circle col-xs-12 col-md-4 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="100"
      [imageSrc]="'../assets/react.png'"
      [showImage]="true"
      [imageWidth]="80"
      [imageHeight]="90"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="circle col-xs-12 col-md-4 col-lg-4">
    <circle-progress
      [percent]="76"
      [radius]="100"
      [imageSrc]="'../assets/node.png'"
      [showImage]="true"
      [imageWidth]="110"
      [imageHeight]="110"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="circle col-xs-12 col-md-4 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="100"
      [imageSrc]="'../assets/github2.png'"
      [showImage]="true"
      [imageWidth]="80"
      [imageHeight]="80"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
</div>
