<div class="contenedor bg-white">
  <div
    class="contenedor-acerca-de bg-white p-5 fs-5 d-flex justify-content-between align-items-center"
    data-aos="fade-in"
    data-aos-offset="100"
    data-aos-delay="50"
    data-aos-duration="500"
    data-aos-easing="linear"
    data-aos-mirror="true"
    data-aos-once="true"
    data-aos-anchor-placement="top-center"
  >
    <div
      class="perfil d-flex flex-column justify-content-between align-items-center text-center p-3"
    >
      <div class="contenedor-foto mb-3">
        <img
          class="img-fluid mb-0"
          [src]="persona.img"
          alt="foto-perfil"
          id="foto-perfil"
        />
      </div>

      <div class="fw-bold">
        <p class="text-center text-dark fw-bold text-uppercase">
          {{ persona.nombrePers }} {{ persona.apellido }}
        </p>
        <p class="text-secondary">Full Stack Developer Jr.</p>
      </div>
    </div>
    <div class="descripcion mx-5">
      <h1 class="text-center pt-0 pb-3 text-dark fw-bold text-uppercase">
        Acerca de Mi
      </h1>
      <p class="text-secondary">
        {{ persona.descripcion }}fxgssgsfgfsgsgsfgsfsfgsgsggsgg
      </p>
    </div>

    <div class="d-flex justify-content-end mb-3 me-3 añadir">
      <button
        class="btn btn-secondary mt-3"
        *ngIf="isLogged"
        routerLink="/editarPerfil/{{ persona.id }}"
      >
        <i class="bi bi-pencil botones"></i>
      </button>
    </div>
  </div>
</div>
