.contenedor-acerca-de {
    width: 80%;
    margin: 0 auto;
}
@media(max-width: 992px) {
    .contenedor-acerca-de {
        padding-top: 20px;
        flex-direction: column;
        width: 95%;
    }
}


/* Perfil */
.perfil {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contenedor-foto{
    width: 300px;
}
    #foto-perfil {    
        max-width: 100px;  
        border-radius: 50%; 
    }

    @media(max-width: 768px) {
        #foto-perfil {        
            margin-top: 0px;                 
        }
    }
    
#nombre {        
    font-weight: bold;
}

/* acerca de */
.descripcion {
    margin: 0 auto; 
}
@media(max-width: 768px) {
    .descripcion{
        margin: 0 auto;
    }
}
.descripcion p {
    color: #858585;
}

span{
    font-weight: bold;
}