<div class="contenedor-acerca-de">
  <div class="perfil">
    <div class="contenedor-foto">
      <img
        class="img-fluid"
        src="../../../assets/foto.jpg"
        alt="foto-perfil"
        id="foto-perfil"
      />
    </div>

    <div class="nombre">
      <p id="nombre">Juan Pablo Gordillo</p>
      <p id="full-stack">Full Stack Developer Jr.</p>
    </div>
  </div>
  <div class="descripcion">
    <span
      ><h1>Acerca de Mí</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
        pariatur impedit, similique omnis, adipisci temporibus itaque ipsa,
        sequi provident quae voluptates dignissimos. Eius aliquam nam nulla
        assumenda, cum laboriosam velit!
      </p>
    </span>
  </div>
</div>
