.contenedor-acerca-de {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
@media(max-width: 992px) {
    .contenedor-acerca-de {
        padding-top: 20px;
        display:block;
        width: 95%;
    }
}

/* Perfil */
.perfil {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contenedor-foto{
    width: 150px;
    
}
    #foto-perfil {        
        width: 150px;
        border-radius: 50%;       
    }
    @media(min-width: 768px) {
        #foto-perfil {        
            width: 100px;        
        }
    }
    
#nombre {
    
    font-weight: bold;
}

/* acerca de */
h1 {
}
.descripcion {
    margin: 0 auto; 
}
@media(max-width: 768px) {
    .descripcion{
        margin: 0 auto;
    }
}
.descripcion p {
    color: #858585;
}

