<div class="contenedor">
  <div class="logo">
    <a href=""
      ><img
        src="../../../assets/APLogo.png"
        alt="logotipo argentina programa"
        id="logoAP"
    /></a>
  </div>
  <div class="redes-boton">
    <div class="redes">
      <a href="https://www.linkedin.com/in/juanpablogordillo/" target="_blank"
        ><img src="../../../assets/linkedin.png" alt="icono linkedin"
      /></a>
      <a href="https://github.com/JP-GS" target="_blank"
        ><img src="../../../assets/github.png" alt="icono github"
      /></a>
    </div>
    <div>
      <button
        class="btn btn-outline-light boton"
        (click)="login()"
        *ngIf="!isLogged"
      >
        Ingresar
      </button>
      <button
        class="btn btn-outline-light boton"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        Cerrar Sesión
      </button>
    </div>
  </div>
</div>
