.contenedor {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media(max-width: 768px) {
    .contenedor {    
        flex-direction: column;
    }
}

#logoAP{
    width: 150px;    
}


.redes-boton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


img{
    width: 30px;  
    margin: auto 10px;
}

.boton {
    border-width: medium;
    margin: auto 10px;
}

@media(max-width: 768px) {
    .redes-boton {
        flex-direction: column;
        
    }
    img {
        margin: 0 10px 10px 10px;
    }
    .boton {
        margin: 20px 10px;
    }
}





