<div class="contenedor">
  <div class="logo">
    <a href="home"
      ><img
        src="../../../assets/APLogo.png"
        alt="logotipo argentina programa"
        id="logoAP"
    /></a>
  </div>
  <div class="redes">
    <div>
      <a href="https://www.linkedin.com/in/juanpablogordillo/" target="_blank"
        ><img src="../../../assets/linkedin.png" alt="icono linkedin"
      /></a>
      <a href="https://github.com/JP-GS" target="_blank"
        ><img src="../../../assets/github.png" alt="icono github"
      /></a>
      <!-- <a href="" target="_blank"
        ><img src="../../../assets/facebook.png" alt="icono facebook"
      /></a>
      <a href="" target="_blank"
        ><img src="../../../assets/instagram.png" alt="icono instagram"
      /></a>
      <a href="" target="_blank"
        ><img src="../../../assets/twitter.png" alt="icono twitter"
      /></a> -->
      <button
        class="btn btn-outline-light boton"
        (click)="login()"
        *ngIf="!isLogged"
      >
        Ingresar
      </button>
      <button
        class="btn btn-outline-light boton"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        Cerrar Sesión
      </button>
    </div>
  </div>
</div>
