:root {
    --violeta: #624357;
    --gris-claro: #a0a0a0;
    --celeste: #00BEFF;
    --celeste-claro: #86B1CC;
    --gris-osc: #414E57;
    /* --amarillo: #F9F871; */
    --amarillo: #eeee00;
    --celeste1: #00E6E4;
    --fucsia: #ea78a5;
    --negro: #000;
    --azul-fulano: #0f3bc5;
    /* --rosa-fulano: #e8a7a3; */
    --rosa-fulano: #e79c98;
    --verde: #498205;
}

body {
    /* background-image: linear-gradient(to right top, #bebebe, #c9c9c9, #d5d5d5, #e0e0e0, #ececec); */
    /* background-image: url(https://images.unsplash.com/photo-1502252430442-aac78f397426?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9zcXVlJTIwZGUlMjBwaW5vfGVufDB8fDB8fA%3D%3D&w=1000&q=80); */
    background-image: linear-gradient(to right bottom, #fff403, #ffb600, #ff6853, #ff0098, #f204de);
    /* background-image: linear-gradient(to bottom, #19d307, #2ead29, #378834, #396437, #364235); */
    /* background-image: linear-gradient(to bottom, #364235, #3c473b, #434b42, #495048, #50554f); */
    /* background-image: linear-gradient(to right top, #000000, #151515, #232323, #323232, #414141); */
    /* background-image: linear-gradient(to right top, #e8a7a3, #e8a7a3, #e8a7a3, #e8a7a3, #e8a7a3); */
    /* background-image: linear-gradient(to right top, #e79c98, #e79c98, #e79c98, #e79c98, #e79c98); */
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
    z-index: -1;
}
.violeta {
    color: var(--violeta);
}
.gris-claro {
    color: var(--gris-claro);
}
.gris-osc {
    color: var(--gris-osc);
}
.celeste {
    color: var(--celeste1);
}
.amarillo {
    color: var(--amarillo);
}
.celeste-claro {
    color: var(--celeste-claro);
}
.fucsia {
    color: var(--fucsia);
}
.negro {
    color: var(--negro);
}
.azul-fulano {
    color: var(--azul-fulano);
}
.rosa-fulano {
    color: var(--rosa-fulano);
}
.verde {
color: var(verde);
}
.vidrio {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    background: inherit;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
}
.vidrio::before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.15);
filter: blur(30px);
background: inherit;
margin: -20px;
z-index: -1;
}