<form #f="ngForm" (ngSubmit)="onLogin()" novalidate class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="vidrio">
          <div class="card-body p-5 text-center">
            <h1 class="text-center pt-5 pb-3 text-dark fw-bold text-uppercase">
              Iniciar Sesión
            </h1>

            <div class="form-outline mb-4">
              <input
                type="email"
                id="nombreUsuario"
                name="nombreUsuario"
                class="form-control form-control-lg"
                placeholder="Usuario: admin"
                for="nombreUsuario"
                [(ngModel)]="nombreUsuario"
                required
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="admin"
              />
            </div>
            <div class="form-outline mb-4">
              <input
                type="password"
                id="password"
                class="form-control form-control-lg"
                placeholder="Contraseña: admin"
                for="password"
                name="password"
                [(ngModel)]="password"
                required
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="admin"
              />
            </div>
            <div class="d-flex justify-content-end mt-5">
              <button class="btn btn-dark btn-lg btn-block" type="submit">
                Ingresar
              </button>
              <button
                type="button"
                class="btn btn-light ms-3"
                (click)="onClose()"
              >
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
