<form
  class="vh-100"
  style="background-image: linear-gradient(120deg, #a1c4fd 0%, #2c6e8d 100%)"
>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="d-flex justify-content-end">
              <a href="">
                <img
                  src="../../../assets/circle-xmark-solid.png"
                  alt="icono-close"
                />
              </a>
            </div>
            <h3 class="mb-5">Iniciar Sesión</h3>

            <div class="form-outline mb-4">
              <input
                [ngClass]="{}"
                type="email"
                id="typeEmailX-2"
                class="form-control form-control-lg"
                placeholder="Email"
                formControlName="email"
              />
              <div>
                <p>El Email es requerido.</p>
                <p>El formato del Email debe ser válido.</p>
              </div>
            </div>

            <div class="form-outline mb-4">
              <input
                [ngClass]="{}"
                type="password"
                id="typePasswordX-2"
                class="form-control form-control-lg"
                placeholder="Contraseña"
                formControlName="password"
              />
              <div>
                <p>La contraseña es requerida.</p>
                <p>El formato del Email debe ser de 8 o más caracteres.</p>
              </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Ingresar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
